@import "tailwindcss";

@theme {
  --color-brand-green: #a3e635;
  /* Lime green from image */
  --color-brand-dark: #0f1113;

  /* Custom border radius for that super rounded look */
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

/* Custom Glassmorphism Utility */
@utility glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}